.background-img-container{
    max-height:100%;

    .card-background-image{
        position:absolute;
        left:0px;
        top:0px;
        width:100%;
        
        opacity: 1;

        transition: opacity 1.0s;
    }

    .hidden{
        opacity: 0 !important;
    }
      
}



.overlay-img-container{
    display:flex;
    
    position: relative;
    text-align: center;

    width:100%;
    height: 100%;

    overflow: hidden;

    justify-content: center;
    align-items: center;
}



.card-container{
    width: 100%;
    height: auto;

    background-color:black;

    .card-center-container{
        width: 50%;
        position: absolute;
        color: #FFFFFF;

        display: flex;
        flex-direction: column;
        align-items: center;
    
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .card-preamble{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size:1.5vw;
    
        margin-bottom:5%;
    }
    
    .card-title{
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-size:4vw;
    }
    
    .card-postamble{
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 400;
    
        font-size:1.5vw;
    
        margin-bottom: 5%;
    }
    
    .card-button{
        border: 1px solid #D0C5B6;
        color: #D0C5B6;
        border-radius: 0px;
        width: 40%;
    
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;

        font-size:2vw;
    }
    
    .card-button:hover{
        border: 1px solid white;
        background-color: white;
        color:black;
    }
}



.card-img{
    position: absolute;
    width: 30%;
    height: 40%;
    
    bottom:0px;
    right:2%;

    color:white;

    overflow: hidden;

    display:flex;
    justify-content: center;
    align-items: center;

    //background-color: black;

    .small-img-container{
        height:100%;
    }

    .card-img-preamble{
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;

        text-align: left;

        position: absolute;
        font-size:2vw;

        top:7%;
        left:7%;

        transition: font-size 0.3s;
    }

    .card-img-postamble{

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0.21em;

        font-size:2vw;
        position: absolute;
        font-size:small;

        display:flex;
        flex-direction:row;
        justify-content: flex-end;

        gap: 10%;

        width: 100%;

        bottom:6%;
        right:1%;


        transition: font-size 0.3s;

        
    }

    .card-img-overlayimg{
        transition: height 0.3s, margin 0.3s, opacity 1s;
        height: 100%;
        object-fit: cover;
        opacity: 1;
    }

    .next-arrows-card:after{
        transition : color .3s linear;
        color      : transparent;
        content    : ">>";
    }
}

.card-img:hover{
    cursor:pointer;

    .card-img-preamble{
        font-size:3vw;
    }

    .next-arrows-card:after{
        color: white;
        content: ">>";
    }

    .card-img-overlayimg{
        height: 130%;
        margin-bottom:20%;
        margin-right: 20%;

        opacity: 0.7;
        
    }
}

@media  (max-width: 768px){
    .card-container{
        height: 100vh;
    }

    .overlay-img-container{
        height: 100%;
    }    

    .card-background-image{
        height:100% !important;
        object-fit: cover;
    }

    .small-img-container{
        display:none;
        
    }

    .card-img-preamble{
        display:none;
    }

    .card-img{
        height: 10%;
        overflow:visible;
        margin-bottom: 5%;
    }

    .card-center-container{
        width: 100% !important;
    }

    .card-preamble{
        font-size: 3vw !important;
    }

    .card-postamble{
        text-align: center;
        width: 70%;
        font-size: medium !important;
    }

    .card-title{
        font-size: 10vw !important;
    }

    
}